

<footer class="footer text-center">
  <div class="container">
    <span>VALLADOLID MOVIL © <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados.</span><br>
    <span> { } with &hearts; by <a href="https://cg3innova.es/" target="_blank">CG3 Innova</a></span>
    <!--<ul>
      <li><a href="#" target="_blank">API</a></li>
      <li><a href="#">Legal</a></li>
      <li><a href="#">Únete</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>-->
  </div>
</footer>
